<div id="app">
  <div class="sc-aXZVg iIDiUh">
    <div class="sc-gEvEer hEQkXF">
      <div class="sc-fqkvVR gNqxMb">
        <div class="sc-eqUAAy chDGXa">
          <a routerLink="/home" routerLinkActive="active">TALLY</a>
        </div>
        <div class="sc-eqUAAy chDGXa">
          <div class="sc-lcIPJg dYMvNW">
            <form class="sc-cwHptR imhXvo" id="signup-form" method="post"><h1 class="sc-gsFSXq kLYBrU">Let's get your
              account set up</h1>
              <div class="sc-dAlyuH gRAvGC" height="24px"></div>
              <div class="sc-jEACwC HVLxs"><label class="sc-iHGNWf kwdawv" for="email">Email</label>
                <div class="sc-dLMFU lirisC">
                  <input class="sc-cPiKLX bQAjNf" fdprocessedid="myar4q" id="email"
                         name="email"
                         type="email" value=""></div>
              </div>
              <div>
                <div style="position:relative">
                  <div class="sc-eldPxv bdnjgc hidden" id="toggle-show-password">
                    <button class="sc-fPXMVe jgEAjI show" type="button">
                      <svg fill="none" height="16" width="16" xmlns="http://www.w3.org/2000/svg">
                        <path clip-rule="evenodd"
                              d="M8 11.767c-2.897 0-5.337-1.485-6.871-3.767 1.534-2.282 3.974-3.767 6.87-3.767 2.898 0 5.338 1.485 6.872 3.767-1.534 2.282-3.974 3.767-6.871 3.767Zm0-8.534c-3.392 0-6.21 1.813-7.89 4.502a.5.5 0 0 0 0 .53c1.68 2.689 4.498 4.502 7.89 4.502 3.392 0 6.21-1.813 7.89-4.502a.5.5 0 0 0 0-.53C14.21 5.046 11.392 3.233 8 3.233Zm0 6.9a2.133 2.133 0 1 0 0-4.266 2.133 2.133 0 0 0 0 4.266Z"
                              fill="#636363"
                              fill-rule="evenodd"></path>
                      </svg>
                      Show
                    </button>
                    <button class="sc-fPXMVe jgEAjI hide hidden" type="button">
                      <svg fill="none" height="16" width="16" xmlns="http://www.w3.org/2000/svg">
                        <path clip-rule="evenodd"
                              d="M15.732 6.51a.5.5 0 0 1 .159.688 10.118 10.118 0 0 1-1.677 2.042l1.305 1.305a.5.5 0 0 1-.707.707l-1.368-1.367a9.006 9.006 0 0 1-2.889 1.453l.488 1.82a.5.5 0 0 1-.966.259l-.496-1.852A9.209 9.209 0 0 1 8 11.7c-.542 0-1.07-.046-1.58-.135l-.497 1.852a.5.5 0 0 1-.966-.259l.488-1.82a9.006 9.006 0 0 1-2.89-1.453l-1.367 1.367a.5.5 0 0 1-.707-.707L1.786 9.24A10.117 10.117 0 0 1 .11 7.198a.5.5 0 0 1 .848-.53 9.02 9.02 0 0 0 1.895 2.177A7.993 7.993 0 0 0 8 10.7c3.008 0 5.523-1.6 7.043-4.032a.5.5 0 0 1 .689-.159Z"
                              fill="#636363"
                              fill-rule="evenodd"></path>
                      </svg>
                      Hide
                    </button>
                  </div>
                  <div class="sc-jEACwC HVLxs"><label class="sc-iHGNWf kwdawv" for="password">Create a Password</label>
                    <div class="sc-dLMFU lirisC"><input aria-autocomplete="list" class="sc-cPiKLX bQAjNf"
                                                        fdprocessedid="z37h3"
                                                        id="password" name="password" type="password"
                                                        value=""></div>
                  </div>
                </div>
                <ul class="sc-gFqAkR dLUdlN hidden" id="checks">
                  <li class="sc-ikkxIA bmaoIS grey" id="check-longitude">
                    <svg class="tick hidden" fill="none" height="10" width="12" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M1.06 5.146a1 1 0 0 0 0 1.415l2.83 2.828 7.07-7.071A1 1 0 0 0 9.546.904L3.889 6.56 2.475 5.146a1 1 0 0 0-1.414 0Z"
                        fill="#158F56">
                      </path>
                    </svg>
                    <span class="sc-dAbbOL gqdaHb circle-icon"></span>At least 8 characters long
                  </li>
                  <li class="sc-ikkxIA bmaoIS grey" id="check-uppercase">
                    <svg class="tick hidden" fill="none" height="10" width="12" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M1.06 5.146a1 1 0 0 0 0 1.415l2.83 2.828 7.07-7.071A1 1 0 0 0 9.546.904L3.889 6.56 2.475 5.146a1 1 0 0 0-1.414 0Z"
                        fill="#158F56"></path>
                    </svg>
                    <span class="sc-dAbbOL gqdaHb circle-icon"></span>Contains 1 uppercase character
                  </li>
                  <li class="sc-ikkxIA bmaoIS grey" id="check-number-symbol">
                    <svg class="tick hidden" fill="none" height="10" width="12" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M1.06 5.146a1 1 0 0 0 0 1.415l2.83 2.828 7.07-7.071A1 1 0 0 0 9.546.904L3.889 6.56 2.475 5.146a1 1 0 0 0-1.414 0Z"
                        fill="#158F56"></path>
                    </svg>
                    <span class="sc-dAbbOL gqdaHb circle-icon"></span>Contains 1 number or symbol
                  </li>
                </ul>
              </div>
              <div class="h-captcha" data-sitekey="32c73ee8-8e21-4cfd-b221-f822c7a8b78f" data-size="invisible"
                   id="hcaptcha">
                <iframe aria-hidden="true" data-hcaptcha-response="" data-hcaptcha-widget-id="0ozbfxm776l"
                        style="display: none;"
                        title="Captcha">
                </iframe>
                <textarea id="g-recaptcha-response-0ozbfxm776l" name="g-recaptcha-response"
                          style="display: none;"></textarea>
                <textarea id="h-captcha-response-0ozbfxm776l" name="h-captcha-response"
                          style="display: none;"></textarea>
              </div>
              <button class="sc-dcJsrY bGMGxb disabled signup-form-submit" disabled="true" type="submit">Sign Up
              </button>
              <div class="sc-tagGq fxrkiQ">
                <p>By proceeding, you agree to<!-- --> <a href=""> Tally's Terms of Service</a></p>
                <p>Already have an account? <a routerLink="/login">Log in instead</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
