.dWokNJ {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 12px;
  z-index: 2;
}

.CNYAT.is-active {
  transform: translateY(0px);
}

.CNYAT.at-top {
  box-shadow: none;
  transform: translateY(0px);
}

.CNYAT.is-active {
  transform: translateY(0px);
}

@media (min-width: 64em) {
  .CNYAT {
    padding: 35px 40px;
    border-radius: 0px 0px 10px 10px;
  }
}

.CNYAT {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px auto;
  max-width: 1360px;
  padding: 20px;
  z-index: 999;
  position: sticky;
  top: 0px;
  transition: transform 350ms ease-out 0s, box-shadow 350ms ease-out 0s;
  background-color: rgb(255, 255, 255);
  transform: translateY(-118px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
}


@media (min-width: 1100px) {
  .jAjAOf {
    display: flex;
  }
}

.jAjAOf {
  display: none;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 24px;
  width: 24px;
}

.iUReDi {
  display: flex;
  gap: 1em;
  -webkit-box-align: center;
  align-items: center;
}

.VRzUF {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  background-color: white;
  border: none;
  line-height: 1.9;
  cursor: pointer;
  padding: 0px;
}

@media (min-width: 50.75em) {
  .iaTAmC {
    margin: unset;
  }
}

.iaTAmC {
  display: flex;
  text-align: center;
  -webkit-box-align: center;
  align-items: center;
  font-size: 18px;
  line-height: 2.6;
  font-weight: 400;
  border-radius: 5px;
  border: 0px;
  letter-spacing: 0.3px;
  cursor: pointer;
  user-select: none;
  appearance: none;
  position: relative;
  transition-property: background-color, border-color, color, box-shadow;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 0px;
  flex: 0 0 auto;
  height: 48px;
  font-family: Roboto, sans-serif;
  background-color: rgb(44, 75, 255);
  color: rgb(255, 255, 255);
  padding: 0px 24px;
  box-shadow: none;
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  width: min-content;
  margin: auto;
}
