<header class="style__Header-sc-1s2wc26-0 CNYAT js-header-navigation undefined is-active">
  <div class="style__LogoWrapper-sc-1s2wc26-1 dWokNJ">
    <a aria-label="Buffer home page" href="/">
      <div style="display:flex;align-items:center;gap:12px">
        TALLY
      </div>
    </a>
  </div>
  <div class="style__LoginSignUp-sc-1s2wc26-2 iUReDi">
    <button aria-label="Search for blog articles" class="style__SearchBlogButton-sc-1s2wc26-3 VRzUF"
            title="Search for blog articles">
      <svg fill="none" height="20px" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
           xmlns="http://www.w3.org/2000/svg">
        <path d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607z" stroke-linecap="round"
              stroke-linejoin="round">
        </path>
      </svg>
    </button>
    <a routerLink="/login" routerLinkActive="active">Log in</a>
    <a class="style__ButtonBase-sc-5ujgdg-0 iaTAmC js-toggle-menu"
       routerLink="/sign-up" routerLinkActive="active"
       type="primary">
      Get started now
    </a>
  </div>
</header>
